* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.3px solid black; Use a small border for visibility */
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000814;
}

.chatbot-popup{
    background-color: #ffd60a;
    padding: 20px;
}